*{
    color: whitesmoke;
}
.card-shadow{
    box-shadow: 0px 4px 20px 0 black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.social{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color:whitesmoke;
}

.social ul{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 140px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #A8B2D1;
}

.social li:last-of-type{
    margin-bottom: 20px;
}

.social a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
}

.social li a{
    padding: 40px;
}

.social li a svg{
    width: 30px;
    height: 30px;
}

.social-footer{
    display: none;
}

.social-footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.mail{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color:whitesmoke;
}

.mail2{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.mail a{
    margin: 20px auto;
    padding: 10px;
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
}

.mail2::after{
    content: "";
    display: block;
    width: 1px;
    height: 140px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #A8B2D1;
}

.name{

}

.name p{
    max-width: 600px;
    margin-top: 4rem;
    margin-left: 0.4rem;
}

.about{
    max-width: 60rem;
    align-items: center;
    justify-content: center;
}

.about p{
    max-width: 600px;
}

.inner{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
}

.about_img{
    position: relative;
    max-width: 250px;
    max-height: 300px;
}


.wrapper{
    box-shadow: 0 10px 30px -15px black;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: cyan;
}

.photo{
    width: 100%;
    height: 100%;
}

.photo img{
    position: relative;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    width: 100%;
    height: 100%;
}

div{
    display: block;
}

main{
    margin-top: 2rem;
    padding: 0rem 8rem;
}

section{
    margin: 0rem auto;
    padding: 6rem 0rem;
    max-width: 70rem;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
}

h1{
    font-size: large;
    color: cyan;
}

h2, h3{
    font-size: clamp(40px, 8vw, 80px);
    font-weight: bold;
    color: whitesmoke;
    margin-top: 2rem;
}

h3{
    color: gray;
}

h4{
    font-size: 2rem;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
}
h4::after{
    width: 200px;
    content: "";
    display: block;
    position: relative;
    height: 1px;
    margin-left: 1.5rem;
    background-color: gray;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 5rem;
    padding: 1rem;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media (max-width:1080px){
    
    .social{
        left: 20px;
        right: auto;
    }

    .mail{
        left:auto;
        right: 20px;
    }

    main{
        padding: 0rem 6rem;
    }
}

@media (max-width:768px){
    
    .social, .mail{
        display: none;
    }

    main{
        padding: 0rem 2rem;
    }

    .inner{
        display: block;
    }

    .about_img{
        margin: 50px auto 0px;
        width: 70%;
    }
    .social-footer{
        display: block;
        width: 100%;
        max-width: 270px;
        margin: 0px auto 2rem;
        color: whitesmoke;
    }
    
    .social-footer ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    
}